LOG_ARCHIVE_CORE_ACCOUNT_EMAIL=
SECURITY_CORE_ACCOUNT_EMAIL=
TOOLING_CORE_ACCOUNT_EMAIL=
PRODUCTION_WORKLOAD_ACCOUNT_EMAIL=
STAGING_WORKLOAD_ACCOUNT_EMAIL=
IDENTITY_CENTER_INSTANCE_ARN=
IDENTITY_CENTER_IDENTITY_STORE_ID=